<!-- <ion-header>
  <ion-navbar>
    <ion-title>
Hotspot
    </ion-title>
  </ion-navbar>
</ion-header> 
-->

<ion-content >
  <br>
  <br><br>
    <div text-center style="color:rgb(255, 255, 255)">
        <h4>Smart Vision</h4> 
      </div>
      <div class="righttop" style="color:azure">
<h4>Hi,Ramu</h4>
      </div>
    <!-- <ion-refresher (ionRefresh)="doRefresh($event);" >
        <ion-refresher-content
        pullingText="Pull to Refresh"
        pullingIcon="arrow-dropdown"
        refreshingSpinner="circles"
        refreshingText="...Fetching data"
        >
        </ion-refresher-content> 
       </ion-refresher> -->

  <!-- <div text-center >
    <img src="assets/imgs/hot1.gif"  />
  </div> -->

<!-- 
  <div  text-center >
    <button ion-button (click)="release_hotspot()">start hotspot</button>
  </div> -->
  <!-- <div text-center *ngIf="hostpot_stat==true">
    <img src="../../assets/imgs/hot2.gif" />
  </div> -->



<!-- 
  <div test-center>
      <h6 style="color: blue;" >Hotspot is getting started....</h6>
    </div>
    
    
    <div text-center> 
    <p>Pull down to Restart the Hotspot</p>
    </div>


    <p>  return : {{return_of_createHotspot}}</p>



    <div>
      <h6><u>Hotspot Details :</u></h6>
    </div>
  <ion-row>
    <ion-col>Hotspot name =</ion-col><ion-col> = smartvision</ion-col>
  </ion-row>
  <ion-row>
      <ion-col>Hotspot password</ion-col><ion-col>= smartvision@123</ion-col>
    </ion-row>
  <ion-row>
      <ion-col>Security type </ion-col><ion-col>= Open</ion-col>
    </ion-row>
         -->

         <ion-list class="grid-list" no-margin>
            <ion-item   (click)="goTo(i)" *ngFor="let item of list; let i = index" (click)="activeItem(i)" [ngClass]="{'active-item':activeSelect==i}" no-lines>
              <!-- <img src="{{item.img}}"> -->
              {{item['title_en']}}
            </ion-item>
          </ion-list>





  
<!-- <div text-center class="bottomline">

    <ion-row>
        <ion-col col-4>
       <button icon-only  color=primary large round><ion-icon aria-setsize="30px" name=md-volume-down></ion-icon></button> 
        </ion-col>
        <ion-col col-3>
          <ion-icon name=md-volume-up></ion-icon>
        </ion-col>
        <ion-col col-3>
    <ion-icon name=ios-headset></ion-icon>
        </ion-col >
        <ion-col col-2>
            <ion-icon name=ios-mic></ion-icon>
        </ion-col>
      </ion-row>

</div> -->

    <!-- <div class="hr"> </div> -->
    <!-- <ion-grid>
      <ion-row>
        <ion-col>
          check availability =>
        </ion-col>
        <ion-col>
          <button ion-button (click)="isavailable()">is availble</button>
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-col>return </ion-col>
        <ion-col text-wrap>{{return_of_availability}}</ion-col>
      </ion-row>
      <div class="hr"> </div>
     
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          start hotspot =>
        </ion-col>
        <ion-col>
          <button ion-button (click)="startHotspot()">startHotspot</button>
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-col>return </ion-col>
        <ion-col text-wrap>{{return_of_startHotspot}}</ion-col>
      </ion-row>
      <div class="hr"> </div>
     
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col>
          stopHotspot =>
        </ion-col>
        <ion-col>
          <button ion-button (click)="stopHotspot()">stopHotspot</button>
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-col>return </ion-col>
        <ion-col text-wrap>{{return_of_stopHotspot}}</ion-col>
      </ion-row>
      <div class="hr"> </div>
     
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col>
          isHotspotEnabled=>
        </ion-col>
        <ion-col>
          <button ion-button (click)="isHotspotEnabled()">isHotspotEnabled</button>
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-col>return </ion-col>
        <ion-col text-wrap>{{return_of_isHotspotEnabled}}</ion-col>
      </ion-row>
      
     
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
         createHotspot =>
        </ion-col>
        <ion-col>
          <button ion-button (click)="createHotspot()">createHotspot</button>
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-col>return </ion-col>
        <ion-col text-wrap>{{return_of_createHotspot}}</ion-col>
      </ion-row>
      <div class="hr"> </div>
     
    </ion-grid> -->
<!--
    <ion-grid>
      <ion-row>
        <ion-col>
          configureHotspot =>
        </ion-col>
        <ion-col>
          <button ion-button (click)="configureHotspot()">configureHotspot</button>
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-col>return </ion-col>
        <ion-col text-wrap>{{return_of_configureHotspot}}</ion-col>
      </ion-row>
      <div class="hr"> </div>
     
    </ion-grid>



    
    <ion-grid>
      <ion-row>
        <ion-col>
          change network state getper=>
        </ion-col>
        <ion-col>
          <button ion-button (click)="CHANGE_NETWORK_STATE_getper()">Get perm</button>
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-col>return </ion-col>
        <ion-col text-wrap>{{return_of_CHANGE_NETWORK_STATE_getper}}</ion-col>
      </ion-row>
      <div class="hr"> </div>
     
    </ion-grid>

        
    <ion-grid>
      <ion-row>
        <ion-col>
          change network state checkper=>
        </ion-col>
        <ion-col>
          <button ion-button (click)="CHANGE_NETWORK_STATE_percheck()">Get perm</button>
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-col>return </ion-col>
        <ion-col text-wrap>{{return_of_CHANGE_NETWORK_STATE_checkper}}</ion-col>
      </ion-row>
      <div class="hr"> </div>
     
    </ion-grid>


 
        
    <ion-grid>
      <ion-row>
        <ion-col>
        Access Wifi check perm=>
        </ion-col>
        <ion-col>
          <button ion-button (click)="access_wifistate()">Check perm</button>
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-col>return </ion-col>
        <ion-col text-wrap>{{return_of_CHANGE_WIFI_STATE_checkper}}</ion-col>
      </ion-row>
      <div class="hr"> </div>
     
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
        Access Wifi get perm=>
        </ion-col>
        <ion-col>
          <button ion-button (click)="CHANGE_WIFI_STATE_getper()">get perm</button>
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-col>return </ion-col>
        <ion-col text-wrap>{{return_of_CHANGE_WIFI_STATE_getper}}</ion-col>
      </ion-row>
      <div class="hr"> </div>
     
    </ion-grid>

 -->


</ion-content>


<ion-footer text-center>
    <ion-row>
        <ion-col col-3>
       <button icon-only ion-button style="color: rgb(250, 2, 2);" large round><ion-icon aria-setsize="30px" name=md-volume-down></ion-icon></button> 
        </ion-col>
        <ion-col col-3>
            <button icon-only  ion-button style="color: rgb(54, 223, 32);" large round> <ion-icon name=md-volume-up></ion-icon></button>
        </ion-col>
        <ion-col col-3>
            <button icon-only ion-button style="color: rgb(233, 236, 236);" large round>   <ion-icon name=ios-headset></ion-icon></button>
        </ion-col >
        <ion-col col-3>
            <button icon-only ion-button style="color: rgb(38, 51, 243);"large round>        <ion-icon name=ios-mic></ion-icon></button>
        </ion-col>
      </ion-row>
</ion-footer>