page-about {
  .content{

    background-image: url(../assets/imgs/login_bg.png);
    background-size: cover;

}

.ion-icon{

  size: 40px;
  block-size: 30px;

}
.bottomline{
  position:absolute;
  bottom:2%;
  
  // height: 100px;
  .icon{
    size: 20px;
  }
}
.righttop
{

 position:absolute;
 right:8%;
 top: 2%;

}
// body {text-align: center;vertical-align: center;background-color: rgb(247, 242, 242);}
// h1{font-size: 40px;font-weight: 600;color: aqua;}
// h3{font-size: 35px;font-weight: 600;color: rgb(0, 30, 114);}
// .wifi-symbol {display: none;}
// .wifi-symbol {display: block;position: absolute;top: 50%;display: inline-block;width: 150px;height: 150px;margin-top: -187.5px;-ms-transform: rotate(-45deg) translate(-100px);-moz-transform: rotate(-45deg) translate(-100px);-o-transform: rotate(-45deg) translate(-100px);-webkit-transform: rotate(-45deg) translate(-100px);transform: rotate(-45deg) translate(-100px);}
// .wifi-symbol .wifi-circle {box-sizing: border-box;-moz-box-sizing: border-box;display: block;width: 100%;height: 100%;font-size: 21.42857px;position: absolute;bottom: 0;left: 0;border-color: aqua;border-style: solid;border-width: 1em 1em 0 0;-webkit-border-radius: 0 100% 0 0;border-radius: 0 100% 0 0;opacity: 0;-o-animation: wifianimation 3s infinite;-moz-animation: wifianimation 3s infinite;-webkit-animation: wifianimation 3s infinite;animation: wifianimation 3s infinite;}.wifi-symbol .wifi-circle.first {-o-animation-delay: 800ms;-moz-animation-delay: 800ms;-webkit-animation-delay: 800ms;animation-delay: 800ms;}.wifi-symbol .wifi-circle.second {width: 5em;height: 5em;-o-animation-delay: 400ms;-moz-animation-delay: 400ms;-webkit-animation-delay: 400ms;animation-delay: 400ms;}.wifi-symbol .wifi-circle.third {width: 3em;height: 3em;}.wifi-symbol .wifi-circle.fourth {width: 1em;height: 1em;opacity: 1;background-color: #FFFFCC;-o-animation: none;-moz-animation: none;-webkit-animation: none;animation: none;}@-o-keyframes wifianimation {0% {opacity: 0.4;}5% {opactiy: 1;}6% {opactiy: 0.1;}100% {opactiy: 0.1;}}@-moz-keyframes wifianimation {0% {opacity: 0.4;}5% {opactiy: 1;}6% {opactiy: 0.1;}100% {opactiy: 0.1;}}@-webkit-keyframes wifianimation {0% {opacity: 0.4;}5% {opactiy: 1;}6% {opactiy: 0.1;}100% {opactiy: 0.1;}} 

// .hr {
//     border-bottom: 1px solid #ccc;
//     margin: 10px 0;
//     width: 100%;
//   }
}

.grid-list{
position: absolute;
top: 30%;
padding: 20px;
  .item{
      padding: 25px;
      border-radius: 5px;
      text-align: center;
      width: calc(50% - 10px);
      float: left;
      margin-bottom: 20px;
      border: 4px solid rgb(179, 10, 10);
      font-weight: 500;
      font-size: 1.4rem;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      color: color($colors,light);
      height: 80px;
      background-color: black;
      &.active-item{
         color: color($colors,third); 
      }
      &:nth-child(2n){
          margin-left: 5px;
      }
      &:nth-child(2n + 1){
          margin-right: 5px;
      }
      img{
          width: 40px;
          height: 40px;
          object-fit: contain;
          display: block;
          margin: 0 auto;
          margin-bottom: 10px;
      }
      .item-inner{
          padding: 0;
          .label{
              margin: 0;
          }
      }


      
  }



}


