<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content >


<br>
<br>

<br>
<br>
<br>

  <div (click)="texttospeech('Login')" text-center style="color:azure">
    <h2>Login</h2>
  </div>

  <br>
  <br>

  <!-- <div text-center (click)="start_detection()">
    <h3>startdetection</h3>
  </div> -->
<div  text-center class="btbottom">
  <button ion-button round color=islandgreen (click)="next()"> Next &nbsp;<ion-icon name="md-arrow-round-forward"></ion-icon></button>

</div>
  <div (click)="texttospeech('mobile number'+mobile_number)" text-center class="left-addon" (click)="presentActionSheet()">
    <ion-icon name="phone-portrait"></ion-icon>
    <input  placeholder="mobile number" disabled type="tel" [(ngModel)]="mobile_number">
  </div>

  <!-- <input  placeholder="" type="tel" > -->
</ion-content>
