page-login {

.content{
    background-image: url(../assets/imgs/login_bg.png);
    background-size: cover;
}

    .mobile_number{
        position:absolute;                  
        bottom:10px;                          
        left:20px;
    }


    .btbottom
    {
        margin-bottom: 5%;
        bottom: 3%;
        left: calc(50% - 50px);;
        text-align: center;
      display: block;
      border-radius: 25px;
      // margin-left: auto;
      // margin-right: auto;
        position: absolute ; 
    }
    .left-addon {
        border: solid 2px #ecdcdc !important;
        //   margin-left: 6%;
        //   margin-right: 6%;
          padding: 5px;
          padding-right: 40px;
          border-radius: 10px;
        //   border: 40px;
          margin-bottom: 5%;
          margin: auto;
          bottom: 18%;
          left:calc(50% - 120px);
        display: block;
        // margin-left: auto;
        // margin-right: auto;
          position: absolute ;
          background-color: #ecdcdc;
         
      
      }
      .left-addon input {
        font-size: 15px;
          padding-left:39px;
          border: none !important;
          background-color: #ecdcdc;
      }
      .left-addon ion-icon {
        position: absolute;
          padding-left: 10px;
          font-size: 24px;
          line-height: 0.8 !important;
          color:rgb(0, 0, 0);
      }

     
}
