<ion-tabs>
   <ion-tab [root]="tab2Root" tabTitle="Hostpot" tabIcon=md-wifi></ion-tab>
   <ion-tab [root]="tab4Root" tabTitle="Hostpot" tabIcon=md-wifi></ion-tab>
   <!-- <ion-tab [root]="tab1Root" tabTitle="Allhot" tabIcon="home"></ion-tab>
 
  <ion-tab [root]="tab3Root" tabTitle="Vision" tabIcon="md-glasses"></ion-tab> -->
</ion-tabs>
