page-home {
// .content{
//     background-color: rgb(45, 67, 114)
// }






body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    text-align: center
  }
  
  .googleassist{
    border-radius:5px;
    margin-top:5%;
    display:flex;
    justify-content:center;
    align-items:center;
    height:120px;
    width:175px;
  }
  
  span{
    border-radius:50%;
    display:block;
    height:10px;
    width:10px;
    margin:3px;
    background-color:green;
  }
  
  span:nth-child(1){
    background-color:blue;
    animation: bounce 1.2s .200s ease-in-out infinite;
  }
  
  span:nth-child(2){
    background-color:red;
    animation: bounce 1.2s .400s ease-in-out infinite;
  }
  
  span:nth-child(3){
    background-color:gold;
    animation: bounce 1.2s .600s ease-in-out infinite;
  }
  
  span:nth-child(4){
    background-color:green;
    animation: bounce 1.2s .800s ease-in-out infinite;
  }
  
  @keyframes bounce{
    0%,75%,100%{
      transform:translatey(0px);
  }
    25%{
      transform:translatey(-7px);
  }
  }
  
 
  


//   .center {
//     border: 1px solid red;
//     display: -webkit-box;
//     display: -moz-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     -webkit-box-direction: normal;
//     -moz-box-direction: normal;
//     -webkit-box-orient: horizontal;
//     -moz-box-orient: horizontal;
//     -webkit-flex-direction: row;
//     -ms-flex-direction: row;
//     flex-direction: row;
//     -webkit-flex-wrap: nowrap;
//     -ms-flex-wrap: nowrap;
//     flex-wrap: nowrap;
//     -webkit-box-pack: center;
//     -moz-box-pack: center;
//     -webkit-justify-content: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     -webkit-align-content: stretch;
//     -ms-flex-line-pack: stretch;
//     align-content: stretch;
//     -webkit-box-align: center;
//     -moz-box-align: center;
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center;
//   }
}
