<ion-header>
  <ion-navbar>
    <ion-title>Voice Assistant</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>



<div text-center *ngIf="recording==false"> 
  <img src="assets/imgs/voiceassist.jpg"    (click)="listen_using_speech_recog()"/>
</div>



<div  (click)="stop_listening()" *ngIf="recording==true">
<br><br>
  <ion-row>
  <ion-col>

  </ion-col>
  <ion-col>
      <div  class="googleassist">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         
        </div>
  </ion-col>
  <ion-col>

  </ion-col>
</ion-row>
</div>





</ion-content>         
