<!--
  Generated template for the HotspotPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hotspot</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event);" >
      <ion-refresher-content
      pullingText="Pull to Refresh"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="...Fetching data"
      >
      </ion-refresher-content> 
     </ion-refresher>

  <div  text-center (click)="On_hotspot()" *ngIf="hotspot_st=='on'">
       <img src="assets/imgs/check.png"/>
  </div>
  <div text-center (click)="On_hotspot()" *ngIf="hotspot_st=='off'">
      <img src="assets/imgs/hot1.gif"/>
  </div>
  <div text-center *ngIf="hotspot_st=='connected'">
      <img src="assets/imgs/check.png"/>
  </div>



  <div>
    <p>
      return :{{hotspot_return_val}}
    </p>
  </div>



  
</ion-content>
