// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
@font-face {
  font-family:arabicFont;
  src: url($font-path + "/GE_SS_Text_Light.otf");
}
@font-face {
  font-family:bold-arabicFont;
  src: url($font-path + "/GE_SS_Text_Medium.otf");
}

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #0a2a52,
  secondary:  #7fdfd4,
  third:      #e5b622,
  danger:     #f53d3d,
  light:      #fff,
  dark:       #222,
  green: green,
  red: red,
  islandgreen:rgb(43, 174, 102),
  mic:#428AE8,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-height:50px;
$toolbar-ios-background:color($colors,primary);
$toolbar-ios-border-color:transparent;
$alert-ios-button-main-font-weight:normal;
$alert-ios-button-font-size:15px;
$alert-ios-border-radius:0;
$searchbar-ios-input-clear-icon-color:color($colors,third);
$searchbar-ios-input-search-icon-color:color($colors,third);	
$searchbar-ios-input-placeholder-color:rgba(color($colors,light),.5);
$action-sheet-ios-button-font-size:1.5rem;
$action-sheet-ios-button-cancel-background:color($colors,third);
$action-sheet-ios-button-text-color:color($colors,dark);
$action-sheet-ios-button-min-height:4.3rem;
$toggle-ios-height:28px;
$toggle-ios-width:53px;
$toggle-ios-background-color-on:green;
$toggle-ios-background-color-off:red;
$toggle-ios-handle-background-color:white;
$picker-ios-border-color:transparent;
$picker-ios-option-text-color:color($colors,primary);
$picker-ios-button-text-color:color($colors,third);
$picker-button-ios-strong-font-weight:normal;
$picker-ios-height:200px;
$picker-ios-option-font-size:16px;	

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
