<!--
  Generated template for the LoginNamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login_name</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content >
    <br>
    <br>
    
    <br>
    <br>
    <br>
    
      <div text-center style="color:azure">
        <h2>Name</h2>
      </div>
      <br>
      <br>
      
      <br>
      <div (click)="listen()" text-center style="color:azure">
          <h4>Please tell your Name</h4>
        </div>
<br>
<br>
        <div>
          Matches
          {{matched_strings}}
        </div>
  


      


  <div text-center class="person_image">
    <!-- <img src="../../assets/imgs/login_name.png"/> -->
  </div>

  <div text-center class="mic" (click)="ask_name()">
      <button ion-button round large color=mic icon-only><ion-icon name=ios-mic></ion-icon> </button>
  </div>
  <div text-center class="btbottom">
      <button ion-button round color=islandgreen (click)="next()"> Next &nbsp;<ion-icon name="md-arrow-round-forward"></ion-icon></button>
  </div>
</ion-content>
