page-login-name {
    .content{
        background-image: url(../assets/imgs/login_bg.png);
        background-size: cover;
    }
    
        .mobile_number{
            position:absolute;                  
            bottom:10px;                          
            left:20px;
        }
    
    
        .btbottom
        {
            margin-bottom: 5%;
            bottom: 2%;
            right: 8%;
            text-align: center;
          display: block;
          border-radius: 25px;
          // margin-left: auto;
          // margin-right: auto;
            position: absolute ; 
        }
        
        .person_image{
            margin-bottom: 5%;
            bottom: 3%;
            left: 38%;
      
          display: block;
          border-radius: 25px;
   
            position: absolute ; 
        }
        .mic {

             .button{
               size: 100px;
                 .icon
                 {
                     size: 50px;
                 }
             }

            margin-bottom: 5%;
            bottom: 30%;
            left:calc(44%);
      
          display: block;
          border-radius: 25px;
   
            position: absolute ; 

        }
 }